
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FaceView1</title>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
</head>
<body>
    <div> 
        @*<input type="hidden" value="@ViewBag.flag" id="flag" />
        <input type="hidden" value="@ViewBag.staffNO" id="staffNO" />*@
    </div>
    <script>
        //$(function () {
        //    var flag = $("#flag").val();
        //    var staffNO = $("#staffNO").val();
        //    if (flag == 1 && staffNO != "") {
        //        location.href = "/home/FaceSB?staffNO=" + data.staffNO;
        //    } else if (flag == 2 && staffNO != "") {
        //        location.href = "/home/FaceRe?staffNO=" + data.staffNO;
        //    }
        //});
    </script>
</body>
</html>
