
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>人脸识别注册信息</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <script src="~/Content/jquery-1.8.2.min.js"></script>
    <script src="~/Scripts/html2canvas.js"></script>
    <link href="~/Scripts/app.css" rel="stylesheet" />
    <link href="~/Scripts/layer/theme/default/layer.css" rel="stylesheet" />
    <script src="~/Scripts/layer/layer.js"></script>
</head>
<body>
    <main>
        <div class="controls">
            <button id="button">打开相机</button>
            <select id="select">@*<option selected="selected">默认前或者后摄像头</option>*@</select>
        </div>

        <video style="border-radius: 50%;" id="video" autoplay="autoplay" playsinline=""></video>
        <canvas id="canvas1" width="320" height="320" style="display:none"></canvas>
        <input type="button" style="display:none" title="视频" value="视频" onclick="getVedio();" />
        <canvas id="canvas2" style="display:none" width="320" height="320"></canvas>
    </main>
    @*<div>
        <video style="width:100%;" height="300" autoplay="autoplay"></video>
       
    </div>*@
    <footer>
        <div>
            <table cellpadding="1" border="1" style="width:100%;height:260px">
                <tr>
                    <td colspan="2" style="text-align:center"><label style="font-size:16px"><b>录入注册信息</b></label></td>
                </tr>
                <tr>
                    <th>姓名：</th>
                    <td><input id="UserName" placeholder="输入姓名" value="@ViewBag.UserName" style="width:100%" readonly="readonly"/></td>
                </tr>
                <tr>
                    <th>工号：</th>
                    <td><input id="staffNO" placeholder="输入工号" style="width:100%" value="@ViewBag.staffNO" readonly="readonly" /></td>
                </tr>
                <tr>
                    <td colspan="3" style="text-align:center"><input onclick="getPhoto();" type="button" style="width:100%" value="一键注册" id="btn"/></td>
                </tr>
            </table>
        </div>
    </footer>
    <script>
        $(function () {
            var u = navigator.userAgent, app = navigator.appVersion;
            var isAndroid = u.indexOf('Android') > -1 || u.indexOf('Linux') > -1; //g
            var isIOS = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/); //ios终端
            if (isIOS) {
                layer.msg("请使用本地iOS11.0及以上的版本的浏览器打开", { shade: 0.8, time: 5000 });
            }
        });
    </script>
    <script src="~/Scripts/app.js"></script>
    <script type="text/javascript">
        
       // var video = document.querySelector('video');
        var audio, audioType;

        var canvas1 = document.getElementById('canvas1');
        var context1 = canvas1.getContext('2d');

        var canvas2 = document.getElementById('canvas2');
        var context2 = canvas2.getContext('2d');

        //navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia || navigator.msGetUserMedia;
        //window.URL = window.URL || window.webkitURL || window.mozURL || window.msURL;

        // 设置事件监听器
        //window.addEventListener("DOMContentLoaded", function () {
        //    if (navigator.mediaDevices === undefined) {
        //        var div = document.createElement("div");
        //        div.innerHTML = 'mediaDevices not supported';
        //        document.body.appendChild(div);
        //    }

        //    navigator.getUserMedia = navigator.getUserMedia ||
        //        navigator.webkitGetUserMedia ||
        //        navigator.mozGetUserMedia;

        //}, false);

        //$(function () {
        //    getMedia();
        //});

        //function getMedia() {

        //    if (navigator.getUserMedia) {
        //        navigator.getUserMedia({
        //            audio: true,
        //            video: {
        //                width: 320,
        //                height: 300
        //            }
        //        },
        //            function (stream) {
        //                var video = document.querySelector('video');
        //                video.srcObject = stream;
        //                video.onloadedmetadata = function (e) {
        //                    video.play();
        //                };
        //            },
        //            function (err) {
        //                alert(err.name + ":" + err.message);
        //            }
        //        );
        //    } else {
        //        var div = document.createElement("div");
        //        div.innerHTML = 'getUserMedia not supported';
        //        document.body.appendChild(div);
        //        alert("getUserMedia not supported");
        //    }

        //}

        //function successFunc(stream) {
        //    mediaStreamTrack = typeof stream.stop === 'function' ? stream : stream.getTracks()[1];
        //    //alert('Succeed to get media!');
        //    if (video.mozSrcObject !== undefined) {
        //        //Firefox中，video.mozSrcObject最初为null，而不是未定义的，我们可以靠这个来检测Firefox的支持
        //        video.mozSrcObject = stream;
        //    }
        //    else {

        //        try {
        //            video.src = window.URL.createObjectURL(stream);
        //        } catch (e) {
        //            video.srcObject = stream;
        //        }
        //        // video.src = window.URL && window.URL.createObjectURL(stream) || stream;
        //    }

        //    //video.play();

        //    // 音频
        //    audio = new Audio();
        //    audioType = getAudioType(audio);
        //    if (audioType) {
        //        audio.src = 'polaroid.' + audioType;
        //        audio.play();
        //    }
        //}
        //function errorFunc(e) {
        //    alert('Error！' + e);
        //}

        // 将视频帧绘制到Canvas对象上,Canvas每60ms切换帧，形成肉眼视频效果
        function drawVideoAtCanvas(video, context) {
            window.setInterval(function () {
                context.drawImage(video, 0, 0, 370, 370);
            }, 20);
        }

        //获取音频格式
        function getAudioType(element) {
            if (element.canPlayType) {
                if (element.canPlayType('audio/mp4; codecs="mp4a.40.5"') !== '') {
                    return ('aac');
                } else if (element.canPlayType('audio/ogg; codecs="vorbis"') !== '') {
                    return ("ogg");
                }
            }
            return false;
        }

        // vedio播放时触发，绘制vedio帧图像到canvas
        video.addEventListener('play', function () {
            drawVideoAtCanvas(video, context2);
        }, false);

        //拍照
        function getPhoto() {
            context1.drawImage(video, 0, 0, 320, 320); //将video对象内指定的区域捕捉绘制到画布上指定的区域，实现拍照。
            var index = layer.load(1, {
                shade: [0.8, 'gray'] //0.1透明度的白色背景
            });
            $('#btn').attr("disabled", true);
            //获取网页中的canvas对象
            var canvas = $('#canvas1')[0];
            //调用convertCanvasToImage函数将canvas转化为img形式
            var img = convertCanvasToImage(canvas);
            //将img插入容器
            //$('#img').append(img);
            var staff = $("#staffNO").val().trim()
            
            if (staff == "") {
                layer.close(index);
                layer.msg("工号不能为空", { shade: 0.5 });
                $('#btn').attr("disabled", false);
                return false;
            }
           
            //进行人脸识别相关操作
            $.ajax({
                url: '/Home/Face_Registration',
                type: 'post',
                data: { imgData64: img.src, staffNO: staff },
                dataType: 'json',
                success: function (data) {
                    var other = data.other;
                    //alert(other);
                    if (data.res == false) {
                        layer.msg("注册失败！", { shade: 0.8 });
                        $('#btn').attr("disabled", false);
                        return;
                    }
                    else {
                        var datas = eval("(" + data.info + ")");
                        console.log(data);
                        if (data.startcode == 221) {
                            layer.msg("当前人脸已存在！");
                            $('#btn').attr("disabled", false);
                            return;
                        }
                        else if (datas.error_code == 0 && datas.error_msg == "SUCCESS") {
                            //注册成功
                            //记得保存人脸唯一标识码到数据库绑定人:data.result.face_token,这里就不做展示了
                            //注意同步输入个人信息到数据库，登录或者查询时可以显示出来
                            $.ajax({
                                url: '/Home/face_userInfoSace',
                                type: 'post',
                                data: {
                                    UserName: $("#UserName").val().trim(),
                                    staffNO: $("#staffNO").val().trim(),
                                    face_token: datas.result.face_token,
                                    Guid_Id: other
                                },
                                dataType: 'json',
                                success: function (data) {
                                    if (data.res == false) {
                                        layer.msg(data.info, { shade: 0.8 });
                                        $('#btn').attr("disabled", false);
                                    }
                                    else {
                                        layer.msg(data.info, { shade: 0.8 });
                                        location.href = '/home/FaceSB?staffNO=' + data.other;
                                    }
                                }
                            });
                        }
                        else {
                            alert("错误信息：" + data.error_msg);
                            $('#btn').attr("disabled", false);
                            return;
                        }
                    }

                }
            });


        }

        //从 canvas 提取图片 image
        function convertCanvasToImage(canvas) {
            //新Image对象，可以理解为DOM
            var image = new Image();
            // canvas.toDataURL 返回的是一串Base64编码的URL
            // 指定格式 PNG
            image.src = canvas.toDataURL("image/png");
            return image;
        }

        //视频
        function getVedio() {
            drawVideoAtCanvas(video, context2);
        }

        //关闭摄像头
        function CloseMedia() {
            mediaStreamTrack && mediaStreamTrack.stop();
        }

        //获取guid
        function guid() {
            function S4() {
                return (((1 + Math.random()) * 0x10000) | 0).toString(16).substring(1);
            }
            return (S4() + S4() + "" + S4() + "" + S4() + "" + S4() + "" + S4() + S4() + S4());
        }



    </script>
</body>
</html>